.boss-level {
  background-image: url('../assets/background.png');
  height: 100vh;
  width: 100vw;
  min-width: 1000px;
  background-size: cover;
  cursor: url('../assets/arrow.png'), auto;
  padding: 15px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:-5px;
  position: relative;
}
.slimes{
    display: flex;
}
.boss img{
  height: 300px;
}
.boss{
  position: relative;
  z-index: 2;
}
.boss::after{
  content: '';
  background-color: black;
  position: absolute;
  width: 280px;
  height: 60px;
  top:210px;
  left: 10px;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.3;
}
.boss:hover{
  cursor: url('../assets/hand.png'), auto;
}
.boss-lives{
  display: flex;
  gap:10px;
  font-size: 40px;
  text-shadow: 5px 5px 10px black;
}
.contador1{
  position: absolute;
  z-index: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background-color: #5311BD;
  left: 500px;
  top:350px;
  height: 70px;
  width: 70px;
  border: 10px solid #14032E;
  border-radius: 25px;
  font-weight: bold;
  z-index: 3;
}
.contador2{
  position: absolute;
  z-index: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background-color: #5311BD;
  right: 500px;
  top:350px;
  height: 70px;
  width: 70px;
  border: 10px solid #14032E;
  border-radius: 25px;
  font-weight: bold;
  z-index: 3;
}
.premio-jefe{
  font-size: 250px;
  position: relative;
}
.premio-jefe::after{
  content: '';
  background-color: black;
  position: absolute;
  width: 300px;
  height: 50px;
  top:320px;
  right: 0px;
  z-index: 1;
  border-radius: 50%;
  opacity: 0.3;
}
.premio-jefe:hover{
  font-size: 252px;
  cursor: url('../assets/hand.png'), auto;
}
