.boss-level {
  background-image: url('../assets/background.png');
  height: 100vh;
  width: 100vw;
  min-width: 1000px;
  background-size: cover;
  cursor: url('../assets/arrow.png'), auto;
  padding: 15px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.slimes{
    display: flex;
}
.boss img{
  height: 300px;
}
.boss{
  position: relative;
  z-index: 2;
}
.boss::after{
  content: '';
  background-color: black;
  position: absolute;
  width: 280px;
  height: 60px;
  top:210px;
  left: 10px;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.3;
}
.boss:hover{
  cursor: url('../assets/hand.png'), auto;
}