.modal{
  height: 100vh;
  width: 100vw;
  min-width: 1000px;
  cursor: url('../assets/arrow.png'), auto;
  padding: 0 15px;
  user-select: none;
  background-color: rgba(5, 5, 5, 0.824);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.window{
    width: 500px;
    height: 300px;
    background-color: rgb(15, 15, 15);
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.window h1{
    color: white;
    font-size: 50px;
}
.window button{
    width: 140px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-weight: bold;
}
