.menu{
  background: #0058ca;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  user-select: none;
}
.divisor{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  gap:15px;
}
.menu-logo{
  width: 530px;
  filter: drop-shadow(4px 4px 12px white);
}
.menu input{
  border-radius: 20px;
  height: 70px;
  width: 390px;
  text-align: center;
  border: 3px solid black;
  font-size: 35px;
  background-color: white;
  margin-bottom: 30px;
}
.menu button{
  width:390px;
  height:70px;
  background-color: #E7E00F;
  color: black;
  font-size: 35px;
  border: 4px solid #f7f026;
  box-shadow: 0 0 10px #f7f152;
  border-radius: 5px;
  opacity: 0.9;
  transition: all 0.5s ease;
  font-weight: 700;
}
.menu button:hover{
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0 15px 5px #f7f152;
}

.selector{
  background-color: white;
  height: 180px;
  width: 180px;
  text-align: center;
  font-size: 100px;
  line-height: 180px;
  border-radius: 50%;
  border: 6px solid black;
  cursor: pointer;
  position: relative;
}

.left-arrow{
  position: absolute;
  top:53px;
  left: -40px;
  background-color: black;
  border-radius: 50%;
  font-size: 60px;
  color: white;
}
.right-arrow{
  position: absolute;
  top:53px;
  right: -40px;
  background-color: black;
  border-radius: 50%;
  font-size: 60px;
  color: white;
}