.modal-info{
  position: fixed;
  top:150px;
  left:60vh;
  height: 330px;
  width: 600px;
  background-color: #141414;
  z-index: 100;
  border: 15px solid #adadad;
  border-radius: 30px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 25px;
  font-size: 27px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:15px;
  align-items: center;
  justify-content: center;
}
.close-btn2{
  position: fixed;
  top:130px;
  right: 370px;
  width: 50px;
  height: 50px;
  z-index: 101;
  border: 3px solid black;
  border-radius: 50%;
  font-size: 30px;
  cursor: url('../assets/hand.png'), auto;
}