@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.player-data {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.486);
  z-index: 200;
  top: -4px;
  left: -4px;
  width: 220px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  border-bottom-right-radius: 15px;
}
.profile-photo {
  border: 3px solid black;
  border-radius: 15px;
  font-size: 50px;
  background-color: white;
  height: 80px;
  line-height: 80px;
  width: 80px;
  text-align: center;
}
.data-distribution {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Open Sans', serif;
  font-size: 17px;
  font-weight: 300;
}
.player-data-img {
  width: 40px;
}

.inventory {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.486);
  z-index: 200;
  top: 100px;
  left: 3px;
  width: 80px;
  height: 400px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  border-bottom-right-radius: 15px;
  flex-direction: column;
  padding: 10px 0;
  font-size: 30px;
  gap: 13px;
  overflow-y: auto;
}
.inventory .product:hover {
  text-shadow: 0px 0px 13px white;
  cursor: url('../assets/arrow.png'), auto;
}
.inventory::-webkit-scrollbar {
  width: 6px;
  background: #888;
}
.inventory::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 5px;
  width: 5px;
}