.strings-event {
  background-image: url('../assets/pared.webp');
  height: 100vh;
  width: 100vw;
  min-width: 1000px;
  background-size: cover;
  cursor: url('../assets/arrow.png'), auto;
  padding: 55px;
  user-select: none;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

}
.strings-event h1{
    text-shadow: 5px 5px 13px #0e5b88;
    font-size: 40px;
}
.premio{
    background-color: #021a28;
    height: 100px;
    width: 600px;
    border: 5px solid #09679F;
    box-shadow: 0px 0px 15px #108dd6;
    border-radius: 20px;
    font-size: 40px;
    line-height: 90px;
    text-align: center;
    color: rgba(255, 255, 255, 0.855);
    margin-top: 30px;
    font-weight: 500;
}
.cuadros{
    display: flex;
    width: 600px;
    justify-content: space-evenly;
    margin-top: 30px;
}
.cuadro{
    height: 100px;
    width: 100px;
    background-color: #09679F;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 100px;
    box-shadow: 0px 0px 15px #0e86cb;
} 
.cuadro:hover{
    background-color: #2893d1;
    cursor: url('../assets/hand.png'), auto;
}
